<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>I-Smith</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css">
    </head>
    <body>
        <div class="header">
            <img src="/images/notebook.svg" class="header__pic"/>
            <span class="header__heading">
                Hotel I-Smith
            </span>
        </div>
        <div class="content"></div>
        <div class="footer">
            <div class="footer__text">
                Created by I-Sepp OÜ - <a href="http://i-smith.ee/">www.i-smith.ee</a>
            </div>
        </div>
    </body>
</html>