/**
 * Css file for Booking app base styling
 */
body {
	font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

h2 {
    font-size: 1.2em;
    color: #2f3542;
}

.content {
    padding:  2em 6em;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

