/* Styling for table lists */
.booking-table {
    border: 1px solid #2ed573;
    padding: 1em;
    border-collapse: collapse;
}

.booking-table th,
.booking-table td {
    border: 1px solid #2ed573;
    padding: .5em;
}